.detail{
    width: 40vw;
    animation: slideLeft 1s ease-in forwards;
}

.post-img{
    max-width: 30vw;
    animation: slideRight 1s ease-in forwards;
}

@keyframes slideLeft {
    from{
        opacity: 0;
        transform: translateX(-300px)
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes slideRight {
    from{
        opacity: 0;
        transform: translateX(300px)
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



.button{
    animation: slideDown 1s ease-in forwards;
}

@keyframes slideDown {
    from{
        opacity: 0;
        transform: translateY(-300px)
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.user{
    text-decoration: none;
    cursor: pointer;
}

.bookmark{
    width: 3rem;
    height: 3.3rem;
}

.book-img{
    width: 65%;
}

.custom-dropdown-toggle::after {
    display: none;
}

.custom-dropdown-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.custom-dropdown-toggle:hover{
    background-color: transparent;
}

.custom-dropdown-toggle:active{
    background-color: transparent;
}

.custom-dropdown-toggle:active,
.custom-dropdown-toggle:focus {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none;
}

.custom-body{
    background-color: black;
}

.drop-item{
    background-color: black;
    color: white;
}

.drop-item:hover{
    background-color: rgb(60, 59, 59);
}