
.back-cus{
    position: fixed;
    background-color: transparent;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
  
    backdrop-filter: blur(20px);
  }

  .rating-container{
    margin-top: 20vh;
    position: relative;
    color: white;
    background-color: black;
    left: 29%;
    bottom: 50%;
    width: 40vw;
  
  }
  
  .custom-feed{
    width: 30vw;
  }
  
  .close{
    color: white;
    background-color: transparent;
    position: absolute;
    right: 5%;
    cursor: pointer;
  }