.link {
  position: relative;
  text-decoration: none; /* Start with no underline */
  color: white;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust underline position */
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: white;
  transition: width 0.3s ease; /* Smooth animation for underline */
}

.link.active::after {
  width: 100%; /* Full underline when active */
}
.link-prim{
  color:white;
  text-decoration: none;
}

.logout{
  text-decoration: none;
}