.background-container {
  position: fixed;     
  top: 0;                    
  left: 0;                   
  z-index: -3;               
  min-height: 100vh;             
  min-width: 100vw;              
  background-color: black !important;
  /* background: radial-gradient(ellipse 80% 80% at 50% -20%, hsla(242, 35%, 42%, 0.3), rgba(255, 255, 255,0)); */

  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255,255,0));

}